---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			List your skills here, remembering to mention the most relevant ones.

Avoid overloading your skills section. This section is very important for showcasing your knowledge and is a key factor for employers.

If you include too much, it will often be perceived as exaggerated.

It's best to highlight your strongest areas of expertise, and

when applying, you can mention other skills you possess.
		</p>
	</div>
</section>
