---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
			alt="Photo Maingi Samuel"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Talk about yourself, your profession, what you like, what your hobbies are, what you do in your free time, what you're passionate about and what you've learned, why you chose this profession, do you have a pet? Do you like going for walks in the park? Did you study anything else? What are you good at?
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
